form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.formControl {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}
.formControl input {
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 6px 5px;
}
.formControl input:focus {
  border: 1px solid #7c3aed;
}
.deleteButton {
  cursor: pointer;
  border: none;
  outline: none;
  margin-top: 20px;
  padding: 8px 10px;
  color: #fff;
  background-color: #7c3aed;
  border-radius: 5px;
}
