.contactList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contactItem {
  width: 500px;
  display: flex;
  background-color: #fff;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  justify-content: space-between;
  border: 1px solid #fff;
  transition: 0.4s;
  cursor: pointer;
}
.contactItem:hover {
  border: 1px solid #7c3aed;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.item {
  margin: 2px 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif !important;
  font-size: 13px;
}
.delete-icons {
  background-color: #7c3aed;
  width: 22px;
  height: 22px;
  padding: 2px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.user-image {
  width: 25px;
  height: 25px;
}
